.title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &__text {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
  }
  &__mode {
    color: #697c9a;
    display: flex;
    gap: 16px;
    transition: all 0.3s ease-in-out;
  }

  &__mode-text {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;
  }

  &__mode-icon {
    font-size: 20px;
  }

  &__mode:hover {
    color: #000;
  }
}
